---
import { Icon } from "astro-icon/components";
---

<div class="mt-12 bg-base-100 py-10 md:mt-16 md:py-16">
  <div class="mx-auto flex max-w-6xl items-start gap-2 px-4">
    <div>
      <Icon
        name="gridicons/quote"
        class="size-8 -translate-y-4 text-primary-200 md:size-20"
        aria-hidden="true"
      />
    </div>
    <p class="h2 text-center uppercase text-primary-600">
      La floristería de Rubi es una obra de arte, y su profesionalismo es inigualable.
    </p>
    <div>
      <Icon
        name="gridicons/quote"
        class="size-8 -translate-y-4 -scale-x-100 text-primary-200 md:size-20"
        aria-hidden="true"
      />
    </div>
  </div>

  <div class="mt-6 grid xs:grid-cols-2">
    <div class="col-start-2">
      <p class="h3 text-primary-600">- Rubi, Flores</p>
    </div>
  </div>
</div>
